@import "../../assets/variables.scss";

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

table {
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 90%;

  @media (max-width: $tablet-width) {
    max-width: 90%;
    padding: 10px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding: 5px;
  }
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  & .severity-color {
    width: 10px;
    height: 10px;
    display: block;
    display: flex;
    border-radius: 50%;
  }
  @media (max-width: $mobile-width) {
    padding: 8px;
    text-align: center;
  }
  .link {
    cursor: pointer;
    &:hover {
      transition: 0.4s;
      text-decoration: underline;
    }
  }
}
.td-severity {
  display: flex;
  place-items: center center;
  gap: 4px;
  height: 60px;
}
th {
  text-align: left;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
